@import url('https://fonts.googleapis.com/css?family=Glegoo:400,700|Staatliches&display=swap');

/*
font-family: 'Staatliches', cursive;
font-family: 'Glegoo', serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 150vh;
    font-family: 'Glegoo', serif !important;
}

.header-wrapper {
    background-color: rgb(30, 45, 66);
    background-image: url(../img/bg-header.png);
}

header {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
    grid-template-rows: 70px 100px 300px;
    grid-template-areas: "logo top-nav top-search""banner banner banner";
    max-width: 1280px;
    margin: 0 auto;
    color: yellowgreen;
    padding: 10px 20px 40px 20px;
}

.logo {
    grid-area: logo;
}

.logo h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.top-nav {
    grid-area: top-nav;
}

.top-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    list-style: none;
}

.top-nav li {
    padding-right: 20px;
}

.top-nav a {
    text-decoration: none;
    color: yellowgreen;
    transition: 0.3s;
}

.top-nav a:hover {
    color: white;
    padding-bottom: 3px;
    border-bottom: 1px solid white;
}

.top-search {
    grid-area: top-search;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.top-search input {
    border-radius: 25px;
    padding: 3px 20px;
    border: 2px solid rgb(154, 205, 50);
    transition: 0.3s;
    font-family: 'Glegoo', serif;
    font-weight: 700;
}

.top-search input:focus {
    box-shadow: 0 0 5px rgba(154, 205, 50, 1);
    border: 2px solid rgba(154, 205, 50, 1);
    outline: none;
}

.banner {
    grid-area: banner;
    margin-top: 50px;
}

.banner p {
    font-family: 'Staatliches', cursive;
    padding-bottom: 15px;
}

.banner p:nth-of-type(1) {
    font-size: 40px;
    letter-spacing: 3px;
}

.banner p:nth-of-type(2) {
    font-size: 60px;
    letter-spacing: 3px;
}

.banner p:nth-of-type(3) {
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

button {
    color: white;
    background-color: rgb(13, 26, 43);
    font-size: 20px;
    border-radius: 25px;
    padding: 8px 40px;
    border: none;
    transition: 0.3s;
    font-family: 'Glegoo', serif;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    color: rgb(13, 26, 43);
    background-color: white;
    font-weight: 700;
}

/* SEARCH */

.search-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "search";
    max-width: 1280px;
    margin: 0 auto;
    color: yellowgreen;
    background-color: white;
}

.search {
    grid-area: search;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    display: none;
    color: rgb(154, 205, 50);
    font-size: 24px;
    border-radius: 25px;
    padding: 10px 30px;
    border: 2px solid rgb(154, 205, 50);
    transition: 0.3s;
    font-family: 'Glegoo', serif;
    font-weight: 700;
    width: 50%;
    height: 70px;
}

.search input:focus {
    box-shadow: 0 0 15px 5px rgba(154, 205, 50, 1);
    border: 2px solid rgba(154, 205, 50, 1);
    outline: none;
}

.search img {
    height: 200px;
}